## ASSOCIATION RULES

## Data Preprocessing:

## Pre-process the dataset to ensure it is suitable for Association rule, this may include handling missing values,removing duplicates and converting the date to appropriate format

In [12]:
pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in c:\users\om\appdata\roaming\python\python311\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.11.1)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\om\appdata\roaming\python\python311\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.3.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.7.2)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
dataset = pd.read_excel(r"D:\Association Rules\Online retail.xlsx",sheet_name = 'Sheet1',names = ['itemsets'])

print(dataset)

                                               itemsets
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]

In [6]:
dataset.duplicated().sum()

2325

In [7]:
dataset[dataset.duplicated()]

                 itemsets
33                cookies
41              spaghetti
59              spaghetti
63            turkey,eggs
64           french fries
...                   ...
7490        herb & pepper
7491   chocolate,escalope
7494  pancakes,light mayo
7497              chicken
7498   escalope,green tea

[2325 rows x 1 columns]

In [8]:
dataset = dataset.drop_duplicates()
dataset

                                               itemsets
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7492  burgers,salmon,pancakes,french fries,frozen sm...
7493  turkey,burgers,dessert wine,shrimp,pasta,tomat...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[5175 rows x 1 columns]

## Scaling the data

## Association Rule Mining:

In [ ]:
* Implement an Apriori algorithm using tool like python with libraries such as Pandas and Mlxtend etc.

* Apply association rule mining techniques to the pre-processed dataset to discover interesting relationships between products purchased together.

* Set appropriate threshold for support, confidence and lift to extract meaning full rules.

In [9]:
from mlxtend.preprocessing import TransactionEncoder

Trans_enco = TransactionEncoder()
scaled_data = Trans_enco.fit(dataset).transform(dataset)
scaled_data

array([[ True,  True,  True,  True,  True],
       [False, False, False, False, False],
       [False, False, False, False, False],
       ...,
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False]])

In [10]:
Trans_enco.columns_

['e', 'i', 'm', 's', 't']

In [11]:
df = pd.DataFrame(scaled_data, columns = Trans_enco.columns_)
df

          e      i      m      s      t
0      True   True   True   True   True
1     False  False  False  False  False
2     False  False  False  False  False
3     False  False  False  False  False
4     False  False  False  False  False
...     ...    ...    ...    ...    ...
5170  False  False  False  False  False
5171  False  False  False  False  False
5172  False  False  False  False  False
5173  False  False  False  False  False
5174  False  False  False  False  False

[5175 rows x 5 columns]

## Creating model

In [12]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(df , min_support = 0.1 , use_colnames = True)
frequent_itemsets

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [13]:
# Apply apriori algorithm on transformed dataset with given confidence and support value
frequent_itemsets = apriori(df, min_support=0.1,max_len=2, use_colnames = False)
frequent_itemsets
# rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=.20)
# rules.head(20)

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [14]:
# ass_rule = association_rules(frequent_itemsets, metric="confidence", min_threshold=.20)
# ass_rule

## After we applying the apriori algorithm the dataset is empty due to empty dataset we cant find confidence and lift ratio etc